.home1{
  position: relative;
  overflow: clip;
  min-height: 100vh;
  padding: clamp(16px, 5vw, 50px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #fefbce;
  padding-top: clamp(85px, 9vw, 90px);
}

.title1{
    font-size: clamp(16px, 3vw, 35px);
    flex-basis: 60%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.title1 p{
    font-size: clamp(13px, 3vw, 20px);
}

.hero1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: clamp(1rem, 4vw, 3rem);
    align-content: center;
    gap: clamp(1rem, 4vw, 3.5rem);
    align-items: center;
    margin-bottom: clamp(15px, 4vw, 20px);
}

.title1 span{
    color: #a52a2a;
}

.bttn1{
    display: flex;
    width: clamp(320px, 60%, 800px);
    justify-content: space-between;
    padding-left: clamp(1rem, 4vw, 3rem);
    gap: 10px;
}

/*.btn{
    font-size: clamp(10px, 3vw, 19px);
    min-width: 10%;
    display: flex;
    margin-bottom: 15px;
}*/


.image1{
    width: 35%;
    border-radius: clamp(10px, 3vw, 35px);
}


.btn1 {
    background: #9e489a;
    min-width: 10%;
    padding: 15px;
    border-radius: 38px;
    border: 1px solid #5f1e5c;
    font-size: clamp(10px, 3vw, 19px);
    margin-bottom: 15px;
    color: #ffffff;
}

.btn1:hover{
    background: #f700ff;
    border: 1px solid #ff00f2;
    transition: 0.3s ease-in-out;
    color: white;
    transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0 0 #000;
    
}

.card-set1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;

}

.card1{
    background: #861d81;
    width:clamp(300px, 70%, 900px);
    align-self:center;  
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    top: 5rem;                 /* where the card sticks, below the menu bar */
   height: 62vh;
   border-radius: 20px;
   padding: 2rem;
   /*padding-top: 2rem;*/
}

.card1:nth-child(2){ top: 6rem; }
.card1:nth-child(3){ top: 7rem; }
.card1:nth-child(4){ top: 8rem; }
.card1:nth-child(5){ top: 9rem; }


.card-image1{
    width: clamp(80px, 15%, 130px);
    
}


.card-heading1{
    color: white;
    justify-content: end;
    font-size:clamp(10px, 3.5vw, 25px);
}

.card-text1{
    bottom: 0;
    color: white;
    text-decoration: none;
}

.card-body1{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.card-body1 h4{
    color: white;
    font-size:clamp(10px, 3.2vw, 20px);
}



.card-body1 p{
    display: flex;
    font-size:clamp(10px, 5vw, 18px);
    background: #cba2c9;
    width: clamp(260px, 4vw, 550px);
    padding: 10px;
    border-radius: 38px;
    border: 1px solid #5f1e5c;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self:center;
}

.card-body1 p:hover{
    background: #f700ff;
    border: 1px solid #ff00f2;
    transition: 0.3s ease-in-out;
    color: white;
    transform: translate(-2px, -2px);
  box-shadow: 5px 7px 0 0 #000;
}

.card-link1{
    text-decoration: none;
    color: #000000;
    display: flex;
}

.card-link1:hover{
    transform: none;
    box-shadow: none;
}


#gallery1{
    background: #2dff1a;
}

#custom1{
    background: #ffa600;
}

#shop1{
    background: #d400ff;
}

#info1{
    background: #00ff0d;
}

#contact1{
    background: #8c00ff;
}

.collection1{
    margin-top: clamp(1rem, 55vh, 8rem);
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.col-head1{
    text-align: center;
    font-size: clamp(25px, 4vw, 40px);
}

.col-img1{
    display: flex;
    width: 100%;
    gap: 25px;
    overflow-x: auto;
    overflow-y: hidden; 
    scrollbar-width: thin;
    padding-bottom: clamp(10px, 4vw, 16px); 
    scrollbar-color: #a52a2a transparent;
}



.col-img1 img{
    width: clamp(100px, 35%, 300px);
    border-radius: clamp(10px, 3vw, 35px);
}
